.auth-layout {
  background-image: url('https://theme.zdassets.com/theme_assets/678183/b7e9dce75f9edb23504e13b4699e208f204e5015.png');
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: 1480px;
}
